body {
    background-color: rgb(51, 53, 51);
    font: 13pt Arial;
}

main {
    background-color: slategray;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.529);
}

h1 {
    color: black;
}

h2 {
    color: rgb(10, 8, 125);
}

aside {
    display: block; 
    font-size: 10pt;
    text-align: justify;
    background-color:darkgray;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: navy;
    font-weight: bolder;
}

a:hover {
    color: rgb(11, 149, 184);
    text-decoration: none;
}